<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Shopgun Login.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04ABF6E11D0B050900AEFC1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04ABF6FA1D0B050A00AEFC1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04ABF7051D0B050A00AEFC1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
